/*----------------------------基本css----------------------------*/

* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

#app {
	width: 100%;
	background-color: #F4F4F4;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*----------------------------其他全局css----------------------------*/


/*loading模态层*/

.loading-wrap {
	position: fixed;
	z-index: 999!important;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
#circular-propress{
  z-index: 999!important;
}

/*img-viewer图片查看层*/
.img-viewer {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000000;
}
.img-viewer .img-wrap{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
}
.img-viewer  .img-wrap .img-div{
	flex: 1;
	height: 100%;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 15px;
}
.img-viewer-cancel{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 20px;
	height: 20px;
}
.img-circle-wrap{
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 0;
}
.img-circle-wrap .img-circle{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: #AAAAAA;
}
.img-circle-wrap .img-circle-active{
	background-color: #FFFFFF;
}
/*trans相关*/

.trans {
	transition: all 0.5s!important;
}

.only-trans-bg-color {
	transition: background-color 0.5s!important;
}

.only-trans-height {
	transition: height 0.5s!important;
}

.only-trans-padding-top {
	transition: padding-top 0.5s!important;
}

.no-trans {
	transition: none!important;
}


/*分割线*/

.fgx {
	width: 100%;
	height: 5px;
	padding: 0 15px;
	margin-bottom: 20px;
}


/*无法滚动*/

.overflowHidden {
	overflow: hidden;
}


/*透明度为0*/

.opacity0 {
	opacity: 0;
}


/*picke重写相关*/

.picker-title {
	font-size: 15px!important;
	font-weight: normal!important;
	letter-spacing: 2px;
}

.confirm-hook {
	color: #4AA1FF!important;
}

.wheel-item {
	font-size: 18px!important;
}

/*颜色相关*/
.blue-span {
	color: #5EACFF!important;
}
.red-span {
	color: #FF6666!important;
}
.center{
  text-align: center!important;
}

/*----------------------------动画相关----------------------------*/


/*从下往上淡入，从上往下淡出*/

.bottomToTop-enter-active {
	animation-name: bottomToTop-in;
	animation-duration: 1s;
}

.bottomToTop-leave-active {
	animation-name: bottomToTop-out;
	animation-duration: 1s;
}

.bottomToTop05-enter-active {
	animation-name: bottomToTop-in;
	animation-duration: 0.5s;
}

.bottomToTop05-leave-active {
	animation-name: bottomToTop-out;
	animation-duration: 0.5s;
}

@keyframes bottomToTop-in {
	0% {
		transform: translate3d(0, 100%, 0);
		opacity: 0
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes bottomToTop-out {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	100% {
		transform: translate3d(0, 100%, 0);
		opacity: 0
	}
}


/*从左往右淡入，从右往左淡出*/

.leftToRight-enter-active {
	animation-name: leftToRight-in;
	animation-duration: 1s;
}
.leftToRight-leave-active {
	animation-name: leftToRight-out;
	animation-duration: 1s;
}

.leftToRight05-enter-active {
	animation-name: leftToRight-in;
	animation-duration: 0.5s;
}
.leftToRight05-leave-active {
	animation-name: leftToRight-out;
	animation-duration: 0.5s;
}

@keyframes leftToRight-in {
	0% {
		transform: translate3d(-100%, 0, 0);
		opacity: 0
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes leftToRight-out {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	100% {
		transform: translate3d(-100%, 0, 0);
		opacity: 0
	}
}

.rightToLeft-enter-active {
	animation-name: rightToLeft-in;
	animation-duration: 1s;
}
.rightToLeft-leave-active {
	animation-name: rightToLeft-out;
	animation-duration: 1s;
}

.rightToLeft05-enter-active {
	animation-name: rightToLeft-in;
	animation-duration: 0.5s;
}
.rightToLeft05-leave-active {
	animation-name: rightToLeft-out;
	animation-duration: 0.5s;
}

@keyframes rightToLeft-in {
	0% {
		transform: translate3d(100%, 0, 0);
		opacity: 0
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes rightToLeft-out {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
	100% {
		transform: translate3d(100%, 0, 0);
		opacity: 0
	}
}

/*淡入淡出*/

.fadeIn-enter-active {
	animation-name: fadeIn-in;
	animation-duration: 1s;
}

.fadeIn-leave-active {
	animation-name: fadeIn-out;
	animation-duration: 1s;
}
.fadeIn05-enter-active {
	animation-name: fadeIn-in;
	animation-duration: 0.5s;
}

.fadeIn05-leave-active {
	animation-name: fadeIn-out;
	animation-duration: 0.5s;
}

@keyframes fadeIn-in {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeIn-out {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
